<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>patlego-website</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>patlego-website</id>
                    <name>GitHub OWNER Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/pat-lego/io.github.vm.patlego.website</url>
                </repository>
                 <repository>
                    <id>patlego-core</id>
                    <name>GitHub OWNER Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/pat-lego/io.github.vm.patlego</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>patlego-website</id>
            <username>pat-lego</username>
            <password>${env.PACKAGES_WEBSITE_TOKEN}</password>
        </server>
    </servers>
    <servers>
        <server>
            <id>patlego-core</id>
            <username>pat-lego</username>
            <password>${env.PACKAGES_WEBSITE_TOKEN}</password>
        </server>
    </servers>
</settings>
